<h1 class="text-center my-4">New Team</h1>

<%= render "form", team: @team %>

<br>

<div class="text-center">
  <%= link_to "Back to teams", teams_path, class: "btn btn-primary" %>
</div>

<style>
  h1 {
  color: #4CAF50;
  }

  .text-center {
    font-size: 24px;
  }
</style>
